@import url("https://fonts.googleapis.com/css?family=Montserrat:200,300,400,600");

*{
  text-decoration: none !important;
  color: black !important;
}

html, body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  width: 100%;
  height: 100%;
  background: #bcbdf2 !important;
}

.pointer {
	position: absolute;
  cursor: default;
  user-select:none;
  white-space: pre-line;
}

.title{
  z-index: 10;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
  font-family: "Montserrat";
  text-align: center;
}

.wttitle{
  z-index: 10;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
  font-family: "Montserrat";
  text-align: center;
  background: linear-gradient(
    rgba(255, 255, 255, 0.5),
    rgba(255, 255, 255, 0.5)
  );
  border-radius: 10%;
  padding: 50px;
}

.lkabout, .lkweather, .lkwordle, .lkboogle{
  position: absolute;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  border-color: transparent;
}

.lkgithub{
  
  position: absolute;
  width: 200px;
  height: 206px;
  border-radius: 50%;
  border-color: transparent;
  background-color: transparent;
}

.lkgithub:hover{
  background: linear-gradient(
    rgba(76, 76, 76, 0.579),
    rgba(115, 115, 115, 0.699)
  );
}

.lkabout{
  background-color: rgb(33, 177, 254);
}

.lkabout:hover{
  background-color: rgb(27, 139, 226);
}

.lkabout:active{
  background-color: rgb(61, 97, 174);
}

.lkweather{
  background-color: rgb(248, 132, 59);
}

.lkweather:hover{
  background-color: rgb(221, 124, 63);
}

.lkweather:active{
  background-color: rgb(199, 117, 1);
}

.lkwordle, .lkboogle{
  background-color: white;
}

.lkwordle:hover, .lkboogle:hover{
  background-color: rgb(194, 192, 192) !important;
  
}

.lkwordle:active, .lkboogle:active{
  background-color: rgb(148, 148, 148) !important;
  
}

.hmh1 {
  font-weight: 1000;
}

.hmh1 span:nth-child(1):hover{
  color: red !important;
  
  transition: 0.1s;
}

.hmh1 span:nth-child(2):hover{
  color: rgb(255, 115, 0) !important;
  
  transition: 0.1s;
}

.hmh1 span:nth-child(3):hover{
  color: yellow !important;
  
  transition: 0.1s;
}

.hmh1 span:nth-child(4):hover{
  color: green !important;
  
  transition: 0.1s;
}

.hmh1 span:nth-child(5):hover{
  color: blue !important;
  
  transition: 0.1s;
}

.hmh1 span:nth-child(6):hover{
  color: rgb(43, 0, 128) !important;
  
  transition: 0.1s;
}

.hmh1 span:nth-child(7):hover{
  color: rgb(181, 12, 181) !important;
  
  transition: 0.1s;
}

.hmh1 span:nth-child(8):hover{
  color: red !important;
  
  transition: 0.1s;
}

.hmh1 span:nth-child(9):hover{
  color: rgb(255, 115, 0) !important;
  
  transition: 0.1s;
}

.hmh1 span:nth-child(10):hover{
  color: yellow !important;
  
  transition: 0.1s;
}

.hmh1 span:nth-child(11):hover{
  color: green !important;
  
  transition: 0.1s;
}


.lkhome{ 
  position: absolute;
  left: 1%;
  top: 1%;
  font-family: "Montserrat";
  text-align: center;
  padding: 10px;
  
}

.abh1{
  animation: fadeInLeft 1s;
  
}

.about span{
  color: rgb(120, 114, 134) !important;
  font-weight: 1000;
}

.Clouds{
  background-image: url(https://media.giphy.com/media/lOkbL3MJnEtHi/giphy.gif);
  background-size: 100% 100%;
}

.Clear{
  background-image: url(https://media.giphy.com/media/k3CeSrt9IZ6aorWCy1/giphy.gif);
  background-size: 100% 100%;
}

.Rain, .Drizzle{
  background-image: url(https://media.giphy.com/media/Mgq7EMQUrhcvC/giphy.gif);
  background-size: 100% 100%;
}

.Mist, .Fog{
  background-image: url(https://media.giphy.com/media/32074Ndlgidhu/giphy.gif);
  background-size: 100% 100%;
}

.Snow{
  background-image: url(https://media.giphy.com/media/OWxrxRHY6afRu/giphy.gif);
  background-size: 100% 100%;
}

